body {
    background-image: url("../images/quiz/background.jpg") ;
    background-repeat: no-repeat ;
    background-attachment: fixed ;
    background-position: top ;
    }

#container {
    margin-left: auto ;
    margin-right: auto ;
    text-align: center ;
}

#footer {
    font-family: Segoe UI light ;
    text-align: center ;
    color: white ;
    margin-top: 0px ;
    text-shadow: 1px 1px 1px black ;
}

#groups {
    margin-left: auto ;
    margin-right: auto ; 
    text-align: center ;
    padding-left: 50px ;
}

#tiles {
    display: inline-block ;
    float: inherit ;
    margin-top: 40px ;
    padding-left: 18px ;
    padding-right: 18px ;
    
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ; */
}

/* zoom */

#zoom {
    display: inline-grid;
    position: relative ;
    height: 235px ;
    width: 235px ;
    transition: transform .2s ;
    margin-top: 0px ;
}

#zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}